@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1;
    font-family: 'Noto Sans KR';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
#fp-nav ul li .fp-tooltip {
    color: #333;
}
.fp-warning, .fp-watermark {
    display: none;
}
.swiper-button-next, .swiper-button-prev {
    color: #333;
}
.swiper-button-prev {
    position: absolute;
}
.swiper-button-next {
    position: absolute;
}


/* header */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
header .inner {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}
header .inner h1 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
}
header .inner h1 a {}
header .inner nav {}
header .inner nav ul {
    display: flex;
}
header .inner nav ul li {
    padding-left: 40px;
}
header .inner nav ul li a {
    font-family: 'Poppins';
}
header .inner nav ul li a:hover {
    color: rgba(51, 51, 51, 0.8);
}


/* .main_visual */
.main_visual {
    height: 100vh;
    position: relative;
    background-color: #ddd;
}
.main_visual .img {
    width: 100%;
    height: 100%;
}
.main_visual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
}
.main_visual .inner p {
    color: #333;
    font-size: 20px;
}


/* .cont01 */
.cont01 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont01 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont01 .inner .title {
}
.cont01 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont01 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont01 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}

.cont01 .inner .title .tab_menu {
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.cont01 .inner .title .tab_menu ul {
    display: flex;
}
.cont01 .inner .title .tab_menu ul li {
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    color: rgba(51, 51, 51, 0.4);
}
.cont01 .inner .title .tab_menu ul li.on {
    color: #333;
}

.cont01 .inner .mySwiper {
    display: none;
}
.cont01 .inner .mySwiper.on {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.cont01 .inner .mySwiper .swiper-wrapper {}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide {}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info {
    width: 40%;
    display: flex;
    align-items: flex-end;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 {
    margin-bottom: 120px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 p {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 .btn {
    display: flex;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 .btn li {
    margin-right: 10px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 .btn li a {
    display: block;
    font-size: 15px;
    font-weight: 300;
}

.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .bar {
    width: 18px;
    height: 4px;
    background-color: #333;
    margin-bottom: 25px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div {
    margin-bottom: 30px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div:last-of-type {
    margin-bottom: 60px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div strong {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div p {
    font-size: 15px;
    font-weight: 300;
    color: #444;
    line-height: 1.4;
}

.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube {
    width: 60%;
    position: relative;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube img {
    width: 100%;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube .youtube {
    width: 94%;
    position: absolute;
    top: 0;
    left: 0;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube .youtube > div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 26px;
    left: 28px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .page {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .page p {
    font-size: 14px;
    font-weight: 300;
    color: #555;
}


/* .cont02 */
.cont02 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont02 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont02 .inner .title {

}
.cont02 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont02 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont02 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}

.cont02 .inner .title .tab_menu {
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.cont02 .inner .title .tab_menu ul {
    display: flex;
}
.cont02 .inner .title .tab_menu ul li {
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    color: rgba(51, 51, 51, 0.4);
}
.cont02 .inner .title .tab_menu ul li.on {
    color: #333;
}


/* .cont03 */
.cont03 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont03 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont03 .inner .title {

}
.cont03 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont03 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont03 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}


/* .cont04 */
.cont04 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont04 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont04 .inner .title {
    
}
.cont04 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont04 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont04 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}


/* footer */
#footer {
    padding: 70px 0;
    background-color: #333;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
#footer ul {
    margin-bottom: 50px;
}
#footer ul li {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background-color: #ddd;
    color: #333;
    margin: 10px auto;
    border-radius: 40px;
}
#footer ul li a {
    display: block;
}
#footer p {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.4;
}