@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1;
    font-family: 'Noto Sans KR';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
#fp-nav ul li .fp-tooltip {
    color: #333;
}
.fp-warning, .fp-watermark {
    display: none;
}
.swiper-button-next, .swiper-button-prev {
    color: #333;
    display: none;
    /* 디자인 추후 고려 */
}
.swiper-button-prev {
    position: absolute;
}
.swiper-button-next {
    position: absolute;
}
#fp-nav ul li .fp-tooltip {
    overflow: inherit;
}


/* header */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
header .inner {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: #333;
}
header .inner h1 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
}
header .inner h1 a {}
header .inner nav {}
header .inner nav ul {
    display: flex;
}
header .inner nav ul li {
    padding-left: 40px;
    font-family: 'Poppins';
}
/* header .inner nav ul li a {
    font-family: 'Poppins';
} */
/* header .inner nav ul li a:hover {
    color: rgba(51, 51, 51, 0.8);
} */


/* .main_visual */
.main_visual {
    height: 100vh;
    position: relative;
}
.main_visual .img {
    width: 100%;
    height: 100%;
}
.main_visual .img img {
    width: 100%;
    height: 100%;
    display: block;
}



/* .cont01 */
.cont01 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont01 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont01 .inner .title {
}
.cont01 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont01 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont01 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}

.cont01 .inner .title .tab_menu {
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.cont01 .inner .title .tab_menu ul {
    display: flex;
}
.cont01 .inner .title .tab_menu ul li {
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    color: rgba(51, 51, 51, 0.7);
}
.cont01 .inner .title .tab_menu ul li.on {
    color: #333;
}

.cont01 .inner .mySwiper {
    display: none;
}
.cont01 .inner .mySwiper.on {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.cont01 .inner .mySwiper .swiper-wrapper {}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide {}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info {
    width: 40%;
    display: flex;
    align-items: flex-end;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 {
    margin-bottom: 120px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 p {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 .btn {
    display: flex;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 .btn li {
    margin-right: 10px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .info_1 .btn li a {
    display: block;
    font-size: 15px;
    font-weight: 300;
}

/* .cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap .bar {
    width: 18px;
    height: 2px;
    background-color: #333;
    margin-bottom: 15px;
} */
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div {
    margin-bottom: 30px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div:last-of-type {
    margin-bottom: 60px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div strong {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div p {
    font-size: 15px;
    font-weight: 300;
    color: #444;
    line-height: 1.4;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .info .flex_wrap > div .text22 {
    font-size: 12px;
    font-weight: 300;
    color: #555;
    margin-top: 15px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube {
    width: 60%;
    position: relative;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube img {
    width: 100%;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube .youtube {
    width: 94%;
    position: absolute;
    top: 0;
    left: 0;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .pc_youtube .youtube > div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 26px;
    left: 28px;
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .page {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.cont01 .inner .mySwiper .swiper-wrapper .swiper-slide .item .page p {
    font-size: 14px;
    font-weight: 300;
    color: #555;
}


/* .cont02 */
.cont02 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont02 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont02 .inner .title {
    margin-bottom: 35px;

}
.cont02 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont02 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont02 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}

.cont02 .inner .title .tab_menu {
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.cont02 .inner .title .tab_menu ul {
    display: flex;
}
.cont02 .inner .title .tab_menu ul li {
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    color: rgba(51, 51, 51, 0.7);
}
.cont02 .inner .title .tab_menu ul li.on {
    color: #333;
}

.cont02 .inner .list {
    display: none;
    width: 100%;
    height: calc(100% - 65px);
}
.cont02 .inner .list.on {
    display: block;
}
.cont02 .inner .list .flex_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.cont02 .inner .flex_wrap .item {
    width: 680px;
    height: 100%
}
.cont02 .inner .flex_wrap .item .img_box {
    width: 680px;
    height: 480px;
}
.cont02 .inner .flex_wrap .item .img_box img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}
.cont02 .inner .flex_wrap .item .info {
    height: calc(100% - 480px);
    position: relative;
}
.cont02 .inner .flex_wrap .item .info .info_1 {
    display: flex;
    align-items: baseline;
}
.cont02 .inner .flex_wrap .item .info .info_1 p {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-right: 10px;
}
.cont02 .inner .flex_wrap .item .info .info_1 ul {
    display: flex;
}
.cont02 .inner .flex_wrap .item .info .info_1 ul li {
    margin-right: 10px;
}
.cont02 .inner .flex_wrap .item .info .info_1 ul li a {
    display: inline-block;
}
.cont02 .inner .flex_wrap .item .info .info_2 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.cont02 .inner .flex_wrap .item .info .info_2 .bar {
    width: 18px;
    height: 2px;
    background-color: #333;
    margin-bottom: 15px;
}
.cont02 .inner .flex_wrap .item .info .info_2 .text {
}
.cont02 .inner .flex_wrap .item .info .info_2 .text > div {
    display: flex;
    margin-bottom: 20px;
}
.cont02 .inner .flex_wrap .item .info .info_2 .text > div:nth-of-type(3) {
    margin-bottom: 0;
}
.cont02 .inner .flex_wrap .item .info .info_2 .text > div strong {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
}
.cont02 .inner .flex_wrap .item .info .info_2 .text > div p {
    font-size: 15px;
    font-weight: 300;
    color: #444;
    margin-right: 20px;
}


/* .cont03 */
.cont03 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont03 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont03 .inner .title {

}
.cont03 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont03 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont03 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}
.cont03 .list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 710px;
    margin-top: 37px;
}
.cont03 .list > a:nth-of-type(1) img {
    width: 710px;
    display: block;
    object-fit: cover;
    border: 1px solid #333;
}
.cont03 .list .box {
    width: 710px;
    height: 710px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.cont03 .list .box a img {
    width: 345px;
    height: 345px;
    display: block;
    object-fit: cover;
    border: 1px solid #333;
}
.cont03 .list .box a:nth-of-type(4) img {
    background-color: #eee;
}
/* .cont03 .list a img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
} */
.cont03 .list a .info {
    background-color: #fff;
    padding: 20px 10px;
}
.cont03 .list a .info h4 {
    font-size: 20px;
    margin-bottom: 7px;
}
.cont03 .list a .info p {}


/* .cont04 */
.cont04 {
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.cont04 .inner {
    width: 1440px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
}
.cont04 .inner .title {
    width: 100%;
    height: 80px;
    position: relative;
}
.cont04 .inner .title .title_flex {
    display: flex;
    align-items: baseline;
}
.cont04 .inner .title .title_flex h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
}
.cont04 .inner .title .title_flex p {
    font-family: 'Poppins';
    font-weight: 300;
}
.cont04 .inner .list .resume_download {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 300;
}
.cont04 .inner .list .resume_download:hover {
    font-weight: 500;
}
.cont04 .inner .list {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.cont04 .inner .list .box1 {
    width: 480px;
    height: 100%;
    position: relative;
}
.cont04 .inner .list .box1 .img {
    width: 300px;
    height: 400px;
    background-color: #eee;
}
.cont04 .inner .list .box1 .img img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.cont04 .inner .list .box1 .text {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.cont04 .inner .list .box1 .text .text1 {
    margin-bottom: 15px;
}
.cont04 .inner .list .box1 .text .text1 strong {
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.cont04 .inner .list .box1 .text .text2 {
    margin-bottom: 50px;
    line-height: 1.5;
}
.cont04 .inner .list .box1 .text .text2 p {
    font-size: 15px;
    font-weight: 300;
}
.cont04 .inner .list .box1 .text .text3 {
    width: 300px;
    word-break: break-all;
    line-height: 1.5;
}
.cont04 .inner .list .box1 .text .text3 p {
    font-size: 15px;
    font-weight: 300;
}

.cont04 .inner .list .box2 {
    width: 480px;
    text-align: right;
}
.cont04 .inner .list .box2 strong {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
.cont04 .inner .list .box2 .flex_wrap {
    display: flex;
    justify-content: right;
    margin-bottom: 60px;
}
.cont04 .inner .list .box2 .text4 .flex_wrap {
    margin-bottom: 0;
}
.cont04 .inner .list .box2 .flex_wrap .text1_1 {
    margin-right: 10px;
}
.cont04 .inner .list .box2 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
}
.cont04 .inner .list .box2 .text1 {

}

.cont04 .inner .list .box3 {
    width: 480px;
    text-align: right;
    position: relative;
}

.cont04 .inner .list .box3 strong {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
.cont04 .inner .list .box3 .flex_wrap {
    display: flex;
    justify-content: right;
    margin-bottom: 60px;
}
.cont04 .inner .list .box3 .flex_wrap .text1_1 {
    margin-right: 10px;
}
.cont04 .inner .list .box3 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
}
.cont04 .inner .list .box3 .text2, .cont04 .inner .list .box3 .text3 {
    margin-bottom: 60px;
}


/* footer */
#footer {
    padding: 70px 0;
    background-color: #333;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
#footer ul {
    margin-bottom: 50px;
}
#footer ul li {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background-color: #ddd;
    color: #333;
    margin: 10px auto;
    border-radius: 40px;
}
#footer ul li a {
    display: block;
}
#footer p {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4;
}