@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1;
    font-family: 'Noto Sans KR';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}


/* header */
header {
    width: 100%;
    height: 170px;
}
header .top_menu {
    width: 1800px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .top_menu h1 {
    width: 125px;
    height: 60px;
}
header .top_menu h1 img {
    width: 100%;
    height: 100%;
}

header .top_menu form {
    position: relative;
}
header .top_menu form input[type="text"] {
    width: 500px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #333;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
}
header .top_menu form input[type="text"]:focus {
    outline: none;
}
header .top_menu form i {
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}
header .top_menu form i span {
    position: absolute;
    left: -999999px;
}

header .top_menu .right_menu {
    width: 245px;
    display: flex;
    justify-content: space-between;
}
header .top_menu .right_menu a {
    display: block;
    text-align: center;
}
header .top_menu .right_menu a i {
    font-size: 35px;
    line-height: 0.48;
}
header .top_menu .right_menu a:hover i,
header .top_menu .right_menu a:hover span {
    color: #777;
}
header .top_menu .right_menu a i span {
    font-size: 14px;

}

header nav {
    background-color: #333;
    height: 70px;
}
header nav > div {
    height: 100%;
}
header nav > div > ul {
    width: 1440px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
header nav > div > ul > li:hover > div {
    display: block;
}
header nav > div > ul > li:nth-of-type(1) a::before {
    display: none;
}
header nav > div > ul > li > a {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 500;
    padding: 0 50px;
    line-height: 70px;
    position: relative;
}
header nav > div > ul > li > a::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
header nav > div > ul > li > a:hover {
    color: #fff;
}
header nav > div > ul .depth01 {
    position: relative;
}
header nav > div > ul .depth01 > div {
    width: 100vw;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    z-index: 9999;
    display: none;
    left: -240px;
    padding-left: 290px;
}
header nav > div > ul .depth01 > div > .flex_wrap {
    display: flex;
}
header nav > div > ul .depth01 > div > .flex_wrap .depth02 {
    margin-top: 30px;
    margin-right: 80px;
}
header nav > div > ul .depth01 > div > .flex_wrap .depth02 li {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}
header nav > div > ul .depth01 > div > .flex_wrap .depth02 li:hover {
    color: #777;
    text-decoration: underline 1px solid #777;
}
header nav > div > ul .depth01 > div > .flex_wrap .depth02 li:nth-of-type(1) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}
header nav > div > ul .depth01 > div > .flex_wrap .depth02 li:nth-of-type(1):hover {
    color: #333;
    text-decoration: none;
}


/* main_visual */
.main_visual {
    width: 100%;
    height: 720px;
}
.main_visual .swiper-button-next,
.main_visual .swiper-button-prev {
    color: #fff;
    opacity: 60%;
}
.main_visual .swiper-pagination {
    --swiper-theme-color: #fff;
    opacity: 60%;
}      
.main_visual .swiper {
    width: 100%;
    height: 100%;
}
.main_visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.main_visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .swiper-slide .info {
    position: absolute;
    color: #fff;
    text-align: left;
    left: 200px;
}
.main_visual .swiper-slide .info p:nth-of-type(1) {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 30px;
    opacity: 95%;
}
.main_visual .swiper-slide .info p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    opacity: 95%;
}
.main_visual .swiper-slide .info a {
    width: 160px;
    height: 50px;
    background-color: #fff;
    color: #333;
    line-height: 50px;
    text-align: center;
    display: block;
    opacity: 95%;
    font-size: 15px;
    transition: 0.5s;
}
.main_visual .swiper-slide .info a:hover {
    opacity: 60%;
    transition: 0.5s;
}


/* .cont01 */
.cont01 {
    width: 100%;
    margin: 200px auto;
}
.cont01 > div {
    width: 1800px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.cont01 > div:nth-of-type(3) {
    margin-bottom: 0;
}
.cont01 .title {
    width: 1800px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.cont01 .title h3 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.cont01 .title a {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.cont01 .title a:hover {
    text-decoration: underline 1px solid #777;
    color: #777;
}
.cont01 .swiper {
    width: 100%;    
}
.cont01 .swiper .swiper-wrapper {
    width: 1800px;
    height: 527px;
}
.cont01 .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}
.cont01 .swiper .swiper-wrapper .swiper-slide > div {
    width: 432px;
    height: 432px;
    overflow: hidden;
}
.cont01 .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 432px;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}
.cont01 .swiper .swiper-wrapper .swiper-slide img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.cont01 .swiper .swiper-wrapper .swiper-slide .info {
    width: 100%;
    height: 95px;
    padding: 20px 20px;
}
.cont01 .swiper .swiper-wrapper .swiper-slide .info a {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 15px;
}
.cont01 .swiper .swiper-wrapper .swiper-slide .info a:hover {
    text-decoration: underline 1px solid;
    color: #777;
}
.cont01 .swiper .swiper-wrapper .swiper-slide .info p {
    font-weight: 700;
}
.cont01 .swiper-button-next,
.cont01 .swiper-button-prev {
    color: #333;
    opacity: 60%;
}
.cont01 .swiper-pagination {
    display: none;
}


/* .cont02 */
.cont02 {
    width: 1800px;
    margin: 0 auto 200px;
}
.cont02 .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.cont02 .item {
    width: 100%;
    display: flex;
}
.cont02 .item img {
    width: 24px;
    height: 1100px;
    object-fit: cover;
    display: block;
}
.cont02 .item > div {
    width: 888px;
    height: 1100px;
    position: relative;
    overflow: hidden;
}
.cont02 .item > div img {
    display: block;
    width: 100%;
    height: 100%;
}
.cont02 .item > div:nth-of-type(1) .info {
    width: 100%;
    height: 260px;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.2);
    color: rgba(255, 255, 255, 0.9);
    bottom: -260px;
    left: 0;
    display: flex;
    align-items: center;
    transition: 1s;
}
.cont02 .item > div:nth-of-type(1):hover .info {
    bottom: 0;
    left: 0;
    transition: 1s;
}
.cont02 .item > div:nth-of-type(1) .info > div {
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
.cont02 .item > div:nth-of-type(2) .info {
    width: 100%;
    height: 260px;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.2);
    color: rgba(255, 255, 255, 0.9);
    top: -260px;
    left: 0;
    display: flex;
    align-items: center;
    transition: 1s;
}
.cont02 .item > div:nth-of-type(2):hover .info {
    top: 0;
    left: 0;
    transition: 1s;
}
.cont02 .item > div:nth-of-type(2) .info > div {
    width: 100%;
    text-align: left;
    padding-left: 40px;
}
.cont02 .item > div .info p:nth-of-type(1) {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.cont02 .item > div .info p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.cont02 .item > div .info a {
    font-size: 16px;
    font-weight: 500;
}
.cont02 .item > div .info a:hover {
    color: #333;
    text-decoration: 1px underline solid #333;
    opacity: 90%;
}



/* .mid_banner */
.mid_banner {
    width: 1800px;
    height: 662px;
    margin: 0 auto 200px;
    position: relative;
    overflow: hidden;
}
.mid_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.mid_banner img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.mid_banner .info {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    left: 200px;
}
.mid_banner .info p:nth-of-type(1) {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 30px;
    opacity: 95%;
}
.mid_banner .info p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    opacity: 95%;
}
.mid_banner .info a {
    width: 160px;
    height: 50px;
    background-color: #fff;
    color: #333;
    line-height: 50px;
    text-align: center;
    display: block;
    opacity: 95%;
    font-size: 15px;
    transition: 0.5s;
}
.mid_banner .info a:hover {
    opacity: 60%;
    transition: 0.5s;
}



/* .cont03 */
.cont03 {
    width: 1800px;
    margin: 0 auto 200px;
}
.cont03 .title {
    width: 100%;
    height: 140px;
    text-align: center;
    position: relative;
}
.cont03 .title strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.cont03 .title p {
    margin-bottom: 30px;
}
.cont03 .title .tab_menu {
    width: 390px;
    height: 16px;
    margin: 0 auto;
    position: relative;
}
.cont03 .title .tab_menu ul {
    display: flex;
    justify-content: center;
}
.cont03 .title .tab_menu ul li {
    position: relative;
    padding: 0 40px;
    color: rgba(119, 119, 119, 0.4);
}
.cont03 .title .tab_menu ul li.on {
    color: #333;

}
.cont03 .title .tab_menu ul li::before {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #333;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.cont03 .title .tab_menu ul li:nth-of-type(3)::after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #333;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.cont03 .title > a {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.cont03 .title > a:hover {
    text-decoration: underline 1px solid #777;
    color: #777;
}

.cont03 .list {
    width: 100%;
    height: 920px;
    display: flex;
    justify-content: space-between;
    display: none;
}
.cont03 .list.on {
    display: flex;
}
.cont03 .list .wrap {
    width: 584px;
    height: 920px;
    overflow: hidden;
}
.cont03 .list .wrap > img {
    width: 584px;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}
.cont03 .list .wrap img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.cont03 .list .item_wrap {
    width: 1192px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.cont03 .list .item_wrap .item {
    width: 584px;
    height: 448px;
    position: relative;
    overflow: hidden;
}
.cont03 .list .item_wrap .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .list .item_wrap .item:hover .info {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s;
}
.cont03 .list .item_wrap .item .info {
    width: 584px;
    height: 95px;
    position: absolute;
    bottom: -95px;
    left: 0;
    padding: 20px 0 20px 20px;
    background-color: rgba(51, 51, 51, 0.2);
    color: rgba(255, 255, 255, 0.9);
    transition: 0.8s;
}
.cont03 .list .item_wrap .item .info a {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 24px;
}
.cont03 .list .item_wrap .item .info a:hover {
    color: #333;
    text-decoration: underline 1px solid #333;
    opacity: 90%;
}
.cont03 .list .item_wrap .item .info p {
    font-size: 16px;
    font-weight: 700;
}


/* footer */
footer {
    width: 100%;
    border-top: 1px solid #ddd;
}
footer .top {
    width: 1440px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
footer .top > div {
    width: 100%;
    height: 285px;
    display: flex;
    justify-content: space-between;
}
footer .top > div > dl {
    text-align: center;
}
footer .top div dl:nth-of-type(1),
footer .top div dl:nth-of-type(2),
footer .top div dl:nth-of-type(3) {
    width: 260px;
}
footer .top div dl:nth-of-type(4),
footer .top div dl:nth-of-type(5) {
    width: 330px;
}
footer .top div dl dt {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}
footer .top div dl dd {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
footer .top div dl dd a:hover {
    color: #777;
    text-decoration: 1px solid underline #777;
}
footer .top div dl:nth-of-type(4) > dd {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}
footer .top div dl:nth-of-type(4) > dd a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
footer .top div dl:nth-of-type(4) > dd a:hover {
    background-color: #777;
    color: #fff;
    transition: 0.5s;
}
footer .top div dl:nth-of-type(4) > dd a i span {
    font-size: 16px;
}
footer .top div dl:nth-of-type(4) > div {
    display: flex;
    justify-content: center;
}
footer .top div dl:nth-of-type(4) > div a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
footer .top div dl:nth-of-type(4) > div a:hover i {
    color: #777;
}
footer .top div dl:nth-of-type(4) > div a i {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}
footer .top div dl:nth-of-type(4) > div a i span {
    position: absolute;
    left: -999999px;
}
footer .top div dl:nth-of-type(4) dt:nth-of-type(2),
footer .top div dl:nth-of-type(5) dt:nth-of-type(2) {
    margin-top: 50px;
}
footer .top div dl:nth-of-type(5) p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
footer .top div dl:nth-of-type(5) dt {
    margin-bottom: 5px;
}
footer .top div dl:nth-of-type(5) dd {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 20px;
}

footer .middle {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
}
footer .middle a {
    display: block;
    font-size: 15px;
    margin: 0 50px;
    position: relative;
}
footer .middle a:hover {
    color: #777;
    text-decoration: 1px solid underline #777;
}
footer .middle a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #333;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
footer .middle a:nth-of-type(5)::after {
    display: none;
}

footer .bottom {
    height: 200px;
    background-color: #333;
}
footer .bottom .box {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
footer .bottom .box .left {
    width: 780px;
    padding-left: 80px;
}
footer .bottom .box .left p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}
footer .bottom .box .right {
    width: 660px;
    display: flex;
    align-items: center;
}
footer .bottom .box .right .inicis {
    padding-left: 100px;
}
footer .bottom .box .right .inicis img {
    display: block;
}
footer .bottom .box .right .info {
    padding-left: 10px;
}
footer .bottom .box .right .info p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}
footer .bottom .box .right .info a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}
footer .bottom .box .right .info a:hover {
    color: #fff;
    text-decoration: underline 1px solid #fff;
}